/* Ningshun Chen (nc2bx), Sanjana Hajela (sh9as), Everett Patterson (ecp5xf), Mira Lee (mfl2zk) */

label {
	margin-top: 0;
	font-family: Roboto;
	font-weight: lighter;
	font-size: 95%;
	margin-bottom: 0;
	display: inline-block;
}

a {
	font-family: Hind Siliguri;
	font-weight: lighter;
	font-size: 20px;
	text-decoration: none;
	color: black;
	padding: 20px;
	padding-top: 0;
	padding-bottom: 0;
}

h2 {
	font-family: Roboto;
	font-weight: lighter;
	font-size: 100%;
	margin: 0;
}

h3 {
	margin-top: 0;
	font-family: Roboto;
	font-size: 150%;
	margin-bottom: 0;
	float: center;
}

h4 {
	font-family: Roboto;
	font-weight: lighter;
	font-size: 205%;
	margin: 0;
	display: inline-block;
}

h5 {
	margin-top: 0;
	font-family: Roboto;
	font-weight: lighter;
	font-size: 150%;
	margin-bottom: 0;
	float: center;
}

er {
	margin-top: 0;
	font-family: Roboto;
	font-weight: bolder;
	font-size: 95%;
	margin-bottom: 0;
	color: red;
}

p {
	font-family: Roboto;
	font-weight: lighter;
	font-size: 75%;
}

.header {
	background-color: white;
	overflow: hidden;
	width: 100%;
	top: 0;
	margin-bottom: 5%;
}

.nav {
	float: right;
	overflow: hidden;
	margin-right: 2%;
}

.name {
	font-family: Hind Siliguri;
	font-weight: lighter;
	font-size: 55px;
	float: left;
	margin-left: 1%;
	text-decoration: underline;
  	text-decoration-color: #bedd71;
}

.login {
	text-align: center;
}

.search {
	text-align: center;
	float: center;
	width: 60%;
	margin: 0 auto;
}

.table {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
	-webkit-column-gap: 5000px; /* Chrome, Safari, Opera */
	-moz-column-gap: 5000px; /* Firefox */
	column-gap: 5000px;
}

form.lookup input {
	padding: 12px;
	font-size: 15px;
	border: 1px;
	float: left;
	width: 85%;
	background: #eeededc2;
}
  

form.lookup button {
	padding: 12px;
	float: left;
	width: 10%;
	background: rgb(75, 171, 250);
	color: white;
	font-size: 15px;
	border: 1px;
	border-left: none;
}

.details {
	border: 3px solid grey;
	border-radius: 25px;
	width: 30%;
	margin: 0 auto;
	text-align: center;
	padding: 5%;
}

.event {
	margin: 0 auto;
	margin-bottom: 2%;
	border: 1px solid;
	padding: 5px;
	width: 30%;
}

.result {
	border: 2px solid black;
	padding: 5%;
	width: 60%;
	float: center;
	margin: 0 auto;
}

.bar {
	padding-bottom: 15%;
}

.edit {
	float: center;
	width: 40%;
	margin: 0 auto;
}

input{
	width: 100%;
}

input[name="username"], input[name = "password"]{
	width: 10%;
}

.signing {
	float: center;
	margin: 0 auto;
	width: 50%;
}

